/* AFFIX
---------------------------------------- */

.affix {
  position: fixed;
}

.affix.affix-inactive {
  position: static;
}

@media screen and ( max-width: @screen-small ) {
  .affix {
    position: static;
    width: 100%;
  }
}