/* GRID
---------------------------------------- */

.container {
  .center-block();
  .clear-float();
}

.row {
  .make-row();
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
}

@media screen and (min-width: @grid-float-breakpoint) {
  .col { float: left; }

  .generate-grid(@grid-columns);
}