/* NAVS
---------------------------------------- */

.nav {
  list-style: none;
  margin-left: 0;
}

.nav.nav-list {
  margin-bottom: @line-height-computed;
  padding: ( @line-height-computed / 2 ) 0;
  
  > .nav-header {
    padding: 0 @line-height-computed;
    color: @nav-list-header;
    font-weight: bold;
    text-transform: uppercase;
  }

  > li {
    position: relative;
    
    > a {
      display: block;
      padding: 3px @line-height-computed;
      text-decoration: none;

      &:hover {
        background-color: @nav-list-hover-bg;
      }
    }
  }
}