/* SCAFFOLDING
---------------------------------------- */

/*
 * 1. http://paulirish.com/2012/box-sizing-border-box-ftw/
 * 2. Override Normalize, which uses content-box for input search
 */
*, /* 1 */
input[ type="search" ] { /* 2 */
  .box-sizing( border-box );
}

// Body reset
// ----------
html {
  font-size: @font-size-base;
}

body {
  color: @text-color;
  background-color: @body-bg;
}

// Reset font stuff in elements
body,
input,
button
select,
textarea {
  line-height: @line-height-base;
  font-family: @font-family-base;
  font-size: @font-size-base;
}

// Links
// -----
a {
  .link();
}

// Images
// ------

/*
 * Responsive images
 * 1. Set max width relative to its parent
 * 2. IE8 Hack
 * 3. Scale the height according to the width, otherwise you get stretching
 * 4. Vertically align with other elements
 */
img {
  max-width: 100%; /* 1 */ 
  width: auto\9; /* 2 */
  height: auto; /* 3 */
  vertical-align: middle; /* 4 */
}

// Image styles
.img-rounded {
  border-radius: @border-radius-large;
}

.img-circle {
  border-radius: 50%;
}

.img-bordered {
  padding: 2px;
  border: 1px solid @image-border-color;
}