/* UTILITIES
---------------------------------------- */

// Floats
// ------
.clearfix   { .clear-float(); }
.pull-start { float: left !important; }
.pull-end   { float: right !important; }

// Toggling content
// ----------------
.hide { display: none !important; }
.show { display: block !important; }

.invisible { visibility: hidden; }
.text-hide { .hide-text(); }

.hidden-accessible {
  position: relative !important;
  top: -9999em !important;
  left: -9999em !important;
  clip: rect( 0, 0, 0, 0 ) !important;
  visibility: hidden !important;
  margin: 0 !important;
}

// Overlay
// -------
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: @zindex-overlay;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, .2 );
}