// VARIABLES
// ----------------------------------------

// Colors
// ------

// Grays
@gray-darker:       #222;
@gray-dark:         #333;
@gray:              #555;
@gray-light:        #999;
@gray-lighter:      #eee;

// Brands
@brand-default:     #fff;
@brand-primary:     #0088cc;
@brand-success:     #5cb85c;
@brand-warning:     #f0ad4e;
@brand-danger:      #d9534f;
@brand-info:        #5bc0de;

// Scaffolding
// -----------
@body-bg:           #fff;
@text-color:        @gray-dark;

// links
@link-color:        @brand-primary;
@link-color-hover:  darken( @link-color, 15% );

// Typography
// ----------
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-family-headings:    @font-family-base;
@font-weight-headings:    bold;

@font-size-base:          14px;
@font-size-large:         @font-size-base * 1.25;
@font-size-small:         @font-size-base * 0.85;
@font-size-mini:          @font-size-base * 0.75;

@line-height-base:        ( 20 / 14 );
@line-height-computed:    20px;

// Code
// ----
@code-border:                       #e1e1e1;
@code-bg:                           #f7f7f7;

// Components
// ----------
@border-radius-large:               6px;
@border-radius-base:                4px;
@border-radius-small:               3px;

@component-offset-horizontal:       200px;

@padding-base-horizontal:           12px;
@padding-base-vertical:             8px;

@padding-large-horizontal:          16px;
@padding-large-vertical:            14px;

@padding-small-horizontal:          10px;
@padding-small-vertical:            5px;

// Forms
// -----
@input-bg:                #fff;
@input-disabled-bg:       @gray-lighter;
@input-placeholder-color: @gray-light;

@input-focus-border:      fade( #52a8ec, 80% );
@input-focus-shadow:      fade( #52a8ec, 60% );

@input-border:            #ccc;
@input-border-radius:     @border-radius-base;

@input-height-base:       ( @line-height-computed + ( @padding-base-vertical * 2 ) + 2 );
@input-height-large:      ( @line-height-computed + ( @padding-large-vertical * 2 ) + 2 );

// Buttons
// -------
@btn-border:              @gray-light;

// Hero Unit
// ---------
@hero-unit-bg:            @gray-lighter;
@hero-unit-text-color:    @gray-darker;

// Docs
// ----
@docs-sidebar-width:      240px;
@docs-sidebar-bg:         @gray-lighter;
@docs-sidebar-border:     lighten( @gray-light, 10% );
@docs-example-bg:         #fff;
@docs-example-border:     darken( @docs-example-bg, 15% );
@docs-example-word:       "Example";
@docs-spacing-size:       ( @line-height-computed * 2 );

// Icons
// -----
@font-path:               "../fonts";
@icon-base-class:         icon;
@icon-prefix:             icon-;

// Tables
// ------
@table-bg:                @body-bg;
@table-bg-accent:         @gray-lighter;
@table-bg-hover:          @gray-lighter;
@table-border-color:      darken( @gray-lighter, 10% );

// Navs
// ----
@nav-list-hover-bg:       darken( @gray-lighter, 3% );
@nav-list-header:         @gray-light;

// Wells
// -----
@well-bg:                 darken( @body-bg, 5% );
@well-border-color:       darken( @well-bg, 5% );

// Grid
// ----
@grid-columns:            12;
@grid-gutter-width:       30px;
@grid-float-breakpoint:   768px;

// Responsive Utils
// ----------------
@screen-small:            768px;
@screen-medium:           980px;
@screen-large:            1200px;